.body{
    margin-top: 0; 
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
}
a{
    text-decoration: none;
   
}
ul{
    padding: 0;
    margin: 0;
}
.list{
    list-style: none;
}
.container{
    width: 1190px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.background{
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
    height: 800px;
    background-image:url(../images/background.jpg) ;
}
.page-header{
    display: flex;
    min-height: 110px;
    align-items: center;
}
.logo {
    font-family: Permanent Marker;
    color:#ffffff ;
    font-size: 28px;
   margin-right: 400px;
    
}

.nav-list {
    display: flex;
    margin-right: 52px;
}

.nav-item {
    
    
}
.nav-link{
font-size: 13px;
line-height: 2.3;
color: #ffffff;
}
.nav-item:not(:last-child){
    margin-right: 50px;
}
.header-btn{
    min-width:138px ;
    min-height:40px ;
    padding: 12px ;
    cursor: pointer;
    font-size: 13px;
    line-height: 1.23;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #ffffff;
    background-color:transparent ;
    color: #FFFFFF;
}
.hero {
    padding-top: 127px;
    padding-bottom: -70px;
}

.hero-title {
    font-size: 42px;
    line-height: 1.19;
    color: #FFFFFF;
    margin-bottom: 35px;
}

.hero-text {
    font-size: 11px;
    line-height:2.73;
    color: #FFFFFF;
    margin-bottom: 35px;
}

.hero-btn {
    min-width:173px ;
    min-height:60px ;
    color: #ffffff;
    background-color: #0A8BFE;
    border-radius: 4px;
    border: none;
    margin-bottom: 150px;
    cursor: pointer;
}
.partner{
    padding-top: 96px;
    padding-bottom: 62px;
    background-color: #ffffff;
    display: flex;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    border-radius: 0px;
}
.box-left{
    padding-left: 40px;
    padding-right: 56px;
    border-right: 1px solid #E8E8E8;
    min-width: 429px;
}
.partner-title{
    font-size: 26px;
    line-height: 1.46;
    color: #000000;
}
.partner-text{
    font-size: 16px;
    line-height:1.88;
    color: #737373;
}
.box-right{
    padding-left: 30px;
    padding-right: 30px;
}
.partner-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.partner-item {
    margin-right: 90px;
    margin-bottom: 51px;
    font-size: 11px;
    line-height: 2.73;
    color: #737373;
    max-width: 136px;
}
.partner-item:nth-last-child(-n + 3) {

    margin-bottom: 0;
}
.partner-item:nth-child(3n) {
    margin-right: 0;

}
.project {
    padding-top: 150px;
    padding-bottom: 150px;
}

.project-title {
    font-size: 41px;
    line-height: 1.22;
    text-align: center;
    color: #000000;
    margin-bottom: 35px;
}

.project-text {
    font-size: 12px;
    line-height: 2.5;
    text-align: center;
    color: #737373;
    margin-bottom: 85px;
}

.project-list {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.project-item {
    font-size: 24px;
    line-height: 1.58;
    text-align: center;
    color: #000000;
}
.project-item:not(:last-child){
    margin-right: 100px;
}
.project-btn{
cursor: pointer;
font-size: 24px;
line-height: 1.58;
text-align: center;
color: #000000;
border: none;
background-color: #ffffff;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-btn:hover,
.project-btn:focus {
    color: #0A8BFE;
}
.offer-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.offer-item {
    max-width: 560px;
    padding: 38px 60px 41px 40px ;
    border: 1px solid #E8E8E8;
    margin-right: 40px;
    margin-bottom: 40px;
}

.offer-item:nth-last-child(-n + 2) {

    margin-bottom: 0;
}

.offer-item:nth-child(2n) {
    margin-right: 0;
}
.offer-title {
    font-size: 19px;
    line-height:1.47;
    color: #000000;
    margin-bottom: 23px;
}

.offer-text {
    font-size: 16px;
    line-height: 1.88;
    color: #737373;
}

.offer-btn {
    display: block;
    cursor: pointer;
   padding: 15px 49px;
   margin-left: auto;
   margin-right: auto;
    font-size: 15px;
    line-height:2;
    color: #FFFFFF;
    text-align: center;
    border-radius: 4px;
    background-color:#0A8BFE;
    border: none;
}